*{margin: 0%;}


.nivel1{
    background-color: red;
    padding: 20px;
    width: 700px;
    border-radius: 50px;
}
.nivel2{
    background-color: yellow;
    padding: 20px;
    border-radius: 50px;
    margin: 8px;
}
.nivel3{
    background-color: chartreuse;
    padding: 20px;
    border-radius: 50px;
    margin: 8px;
}
.nivel4{
    background-color: aquamarine;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.nivel5{
    background-color:aliceblue;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.nivel6{
    background-color:black;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.nivel7{
    background-color:blue;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.nivel8{
    background-color:brown;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: beige;
    border-radius: 50px;
}